@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "header.css";
@import "fs.css";
@import "cards.css";
@import "services.css";
@import "tab_section.css";
@import "info.css";
@import "footer.css";
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
button {
  cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  color: #fff;
  padding: 12px 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: 0.3s;
}
.btn_sign-up {
  background-color: #69B9FF;
  border: 2px solid #69B9FF;
}
.btn_sign-up:hover {
  background-color: #4F83B0;
  border-color: #4F83B0;
}
.btn_default {
  background-color: transparent;
  border: 2px solid #fff;
}
.btn_default:hover {
  background-color: #4F83B0;
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 840px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (max-width: 769px) {
  .container {
    max-width: 700px;
  }
  .first-screen {
    background-image: url("../img/main/fs/background-fs.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .first-screen__content {
    position: relative;
    padding: 15rem 0 0 0;
  }
  .parallax-bg {
    display: none;
  }
  .card {
    max-width: 300px;
    max-height: 350px;
  }
  .cards__content_list {
    flex-direction: column;
  }
  .services__content__cards {
    flex-direction: column;
  }
  .info__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .social__title,
.about__velocity__title,
.about__velocity__text {
    text-align: center;
  }
  .services__content__cards {
    gap: 6rem;
  }
  .useful__links_link {
    line-height: 25px;
  }
}
@media screen and (max-width: 726px) {
  .container {
    max-width: 660px;
  }
  .tab-section__content__slider__text {
    text-align: center;
  }
}
@media screen and (max-width: 680px) {
  .container {
    max-width: 500px;
  }
  .first-screen_title {
    line-height: 80px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    max-width: 400px;
  }
}
@media screen and (max-width: 445px) {
  .container {
    max-width: 300px;
  }
  .header__content_list {
    gap: 2rem;
  }
  .wrap-info__links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tab-section__content__slider {
    gap: 2rem;
  }
  .tab-section__content__slider_btns {
    gap: 0.5rem;
  }
  .info {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 376px) {
  .container {
    max-width: 300px;
  }
}
@media screen and (max-width: 321px) {
  .container {
    max-width: 290px;
  }
  .tab-section__slider_btn {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
