@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "header.css";
@import "fs.css";
@import "cards.css";
@import "services.css";
@import "tab_section.css";
@import "info.css";
@import "contact.css";
@import "footer.css";
*::before,
*::after,
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
button {
  cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  color: #fff;
  padding: 12px 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: 0.3s;
}
.btn_sign-up {
  background-color: #69B9FF;
  border: 2px solid #69B9FF;
}
.btn_sign-up:hover {
  background-color: #4F83B0;
  border-color: #4F83B0;
}
.btn_default {
  background-color: transparent;
  border: 2px solid #fff;
}
.btn_default:hover {
  background-color: #4F83B0;
}

.main__content {
  display: none;
}
.main__content__active {
  display: block;
}

#toggleThemeImgBurger,
#toggleThemeImg {
  cursor: pointer;
}

#toggleThemeImgBurger {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/*--====== Sidebar ======--*/
#sidebar {
  display: none;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem 3rem;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease, z-index 0.2s ease;
}

/* when the sidebar has 'show' class */
#sidebar.show {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  z-index: 100;
}

.sidebar_content {
  padding: 2.8rem 0;
  pointer-events: none;
  /* so that the Sidebar does not get closed while clicking on sidebar_content */
}

.sidebar_content a {
  pointer-events: all;
  /* so that all the <a> inside sidebar_content are clickable */
}

.sidebar_body {
  border-top: 1px dashed #333;
}

.side_navlinks ul {
  display: grid;
  gap: 2rem;
}

.side_navlinks li .burger-menu__active {
  color: #0082F6;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
}

.side_navlinks li .burger-menu {
  color: #676770;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
}

.side_navlinks a:hover {
  opacity: 1;
}

/*---- Sidebar-Toggler ----*/
.sidebar_toggler {
  position: absolute;
  right: 15%;
  width: 1.75rem;
  height: 1.3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  z-index: 2000;
}

.sidebar_toggler span {
  background-color: #333;
  width: 100%;
  height: 2.4px;
  transition: all 0.3s ease;
  pointer-events: none;
  /* so that it doesn't overlap the sidebar_toggler */
}

/* if the sidebar has 'show' class then their adjacent-sibling (i.e., sidebar_toggler) will... */
#sidebar.show + .sidebar_toggler {
  justify-content: center;
}

#sidebar.show + .sidebar_toggler span {
  margin-top: -1.2px;
  margin-bottom: -1.2px;
}

#sidebar.show + .sidebar_toggler span:first-child {
  transform: rotate(45deg);
}

#sidebar.show + .sidebar_toggler span:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}

#sidebar.show + .sidebar_toggler span:last-child {
  transform: rotate(-45deg);
}

body {
  transition: 0.3s;
}

body.dark {
  background-color: #192024;
}

body.dark .side_navlinks li .burger-menu {
  color: #fff;
}

body.dark .sidebar_toggler span {
  background-color: #fff;
}

body.dark .side_navlinks li .burger-menu__active {
  color: #0082F6;
}

body.dark .sidebar_body {
  border-top: 1px dashed #fff;
}

body.dark #sidebar {
  background-color: #192024;
}

body.dark .social_link,
body.dark .useful__links_link {
  color: #63a4dc;
}

body.dark .useful__links__title,
body.dark .social__title,
body.dark .about__velocity__title,
body.dark .tab-section__content__slider__title,
body.dark .tab-section__title,
body.dark .card__title,
body.dark .cards__title,
body.dark .header__content_link {
  color: #fff;
}

body.dark .about__velocity__text,
body.dark .tab-section__content__slider__text,
body.dark .tab-section__text,
body.dark .card__text,
body.dark .cards__text {
  color: #cdcdcd;
}

body.dark .header__content_link__active {
  color: #0082F3;
}

.moon_img {
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/moon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sun_img {
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/sun.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.social_light.twitter::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/tw.svg);
  background-repeat: no-repeat;
}

.social_light.fb::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
}

.social_light.pr::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/pr.svg);
  background-repeat: no-repeat;
}

.social_light.google::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/go.svg);
  background-repeat: no-repeat;
}

.social_light.wf::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/wf.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 840px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (max-width: 769px) {
  .container {
    max-width: 700px;
  }
  .first-screen {
    background-image: url("../img/main/fs/background-fs.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .first-screen__content {
    position: relative;
    padding: 15rem 0 0 0;
  }
  .parallax-bg {
    display: none;
  }
  .card {
    max-width: 300px;
    max-height: 350px;
  }
  .cards__content_list {
    flex-direction: column;
  }
  .services__content__cards {
    flex-direction: column;
  }
  .info__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .social__title,
.about__velocity__title,
.about__velocity__text {
    text-align: center;
  }
  .services__content__cards {
    gap: 6rem;
  }
  .useful__links_link {
    line-height: 25px;
  }
}
@media screen and (max-width: 726px) {
  .container {
    max-width: 660px;
  }
  .tab-section__content__slider__text {
    text-align: center;
  }
}
@media screen and (max-width: 680px) {
  .container {
    max-width: 500px;
  }
  .first-screen_title {
    line-height: 80px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    max-width: 400px;
  }
}
@media screen and (max-height: 650px) {
  .first-screen__content {
    padding-top: 4rem;
  }
}
@media screen and (max-width: 445px) {
  .container {
    max-width: 300px;
  }
  .header__content_list {
    gap: 2rem;
  }
  .wrap-info__links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tab-section__content__slider {
    gap: 2rem;
  }
  .tab-section__content__slider_btns {
    gap: 0.5rem;
  }
  .info {
    padding: 2rem 0;
  }
  .social,
.useful__links,
.useful__links_list {
    align-items: center;
  }
  .first-screen__content {
    gap: 7rem;
  }
  .first-screen__content_btns {
    flex-direction: column;
    gap: 1.3rem;
  }
  .header__content_list {
    gap: 0;
  }
  .header__content_list {
    display: none;
  }
  #toggleThemeImg {
    display: none;
  }
  .sidebar_toggler {
    display: flex;
  }
}
@media screen and (max-width: 376px) {
  .container {
    max-width: 300px;
  }
  .sidebar_toggler {
    right: 10%;
  }
}
@media screen and (max-width: 321px) {
  .container {
    max-width: 290px;
  }
  .tab-section__slider_btn {
    padding: 10px;
  }
  .sidebar_toggler {
    right: 7%;
  }
}

/*# sourceMappingURL=style.css.map */
